# IMPORTANT: if any line does not work, simply repeat it

*#
*.4ct 
*.4tc 
*.a 
*.al 
*.aux
*.aux 
*.bak 
*.bbl
*.bbl 
*.blg
*.blg 
*.css 
*.doc 
*.dvi
*.dvi 
*.exe
*.htm
*.html 
*.idv 
*.la 
*.lg 
*.log
*.log 
*.nav 
*.o 
*.out
*.out 
*.pdb
*.pdf
*.pdf 
*.prv 
*.pyc
*.pyc
*.pyo 
*.rej 
*.snm 
*.synctex.gz 
*.swp
*.tex
*.tmp 
*.toc 
*.xref
graph*_00_0000*
*~
.#*
tags
TAGS
\#*
_region_.prv
*_000001.*
z*
.*.swp
.DS_Store
.libs 
_region_*
